brief_intro_R.ppt
*.RData
*.Rhistory
*.pper
.Rproj.user/D584E745/sdb/prop/5BA14A24
.Rproj.user/D584E745/sdb/prop/78D4DD4F
.Rproj.user/D584E745/sdb/prop/A4ACBCA9
.Rproj.user/D584E745/sdb/prop/A743866
.Rproj.user/D584E745/sdb/prop/INDEX
.Rproj.user/D584E745/sdb/s-835D710D/F3238973
.Rproj.user/D584E745/sdb/s-835D710D/lock_file
2. swirl_open_intro/.~lock.CyB_data_1.csv#
2. swirl_open_intro/~$Introduction to statistical inference.pptx
2. swirl_open_intro/open_intro_lecturer.R
2. swirl_open_intro/Introduction to statistical inference.pptx
2. swirl_open_intro/images/pop_hist.png
2. swirl_open_intro/images/p_value_distribution.png