brief_intro_R.ppt
*.RData
*.Rhistory
*.pper
.Rproj.user*
2. swirl_open_intro/.~lock.CyB_data_1.csv#
2. swirl_open_intro/~$Introduction to statistical inference.pptx
2. swirl_open_intro/open_intro_lecturer.R
2. swirl_open_intro/Introduction to statistical inference.pptx
2. swirl_open_intro/images*
*.png
2. open_intro/Introduction to statistical inference.pptx
2. open_intro/open_intro_lecturer.R
